<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>소정맵</title>
</head>
<body>
<div id="map" style="width:100%;height:100vh;"></div>

{% load static %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d5ecce9fba25ee08a58ec499441a48ea"></script>
<script>

var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.477715, 126.814771), // 지도의 중심좌표
        level: 5 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커를 표시할 위치와 title 객체 배열입니다


var empty ="{% static "images/gray.png" %}";
var few = "{% static "images/red.png" %}";
var some = "{% static "images/yellow.png" %}";
var plenty = "{% static "images/green.png" %}";
var imageSize = new kakao.maps.Size(45, 45);
var Iempty = new kakao.maps.MarkerImage(empty, imageSize);
var Ifew = new kakao.maps.MarkerImage(few, imageSize);
var Isome = new kakao.maps.MarkerImage(some, imageSize);
var Iplenty = new kakao.maps.MarkerImage(plenty, imageSize);
document.write("tt");


var num ='{{num}}';
num = num*1;
var positions = new Array();
var n =0;

{% for dict in dict %}
    var lat = '{{dict.lat}}';
    lat = lat*1;
    var lng = '{{dict.lng}}';
    lng = lng*1;
    var name = '{{dict.name}}';
    var remain = '{{dict.remain_stat}}';
     if(remain == 'empty'){
     positions[n]={latlng : new kakao.maps.LatLng(lat,lng), title : name, image : Iempty};
     }
     else if(remain == 'few'){
     positions[n]={latlng : new kakao.maps.LatLng(lat,lng), title : name, image : Ifew};
     }
     else if(remain == 'some'){
     positions[n]={latlng : new kakao.maps.LatLng(lat,lng), title : name, image : Isome};
     }
     else {
     positions[n]={latlng : new kakao.maps.LatLng(lat,lng), title : name, image : Iplenty};
     }
    n=n+1;
{% endfor %}

// 마커 이미지의 이미지 주소입니다
//var imageSrc = "http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

for (var i = 0; i < num; i ++) {
    var marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: positions[i].latlng, // 마커를 표시할 위치
       // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
        image: positions[i].image,// 마커 이미지
        clickable : true
    });

    var infowindow = new kakao.maps.InfoWindow({
        content: positions[i].title
    });

    // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
    // 이벤트 리스너로는 클로저를 만들어 등록합니다
    // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
    kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
    kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
}

// 인포윈도우를 표시하는 클로저를 만드는 함수입니다
function makeOverListener(map, marker, infowindow) {
    return function() {
        infowindow.open(map, marker);
    };
}

// 인포윈도우를 닫는 클로저를 만드는 함수입니다
function makeOutListener(infowindow) {
    return function() {
        infowindow.close();
    };

}



</script>
</body>
</html>